#Ignore everything
#*
##Whitelist everything that is a directory
#!*/
#
##Whitelist specific files
#!*.cpp
#!*.h
#!*.d
#!*.y
#!*.py
#!*.l
*.o
*.a
*.d
autom4te.cache/
cscope.out
mysession
util/ieee_float_test


